USE [SmartParkingDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/07/2025 09:31:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLots]    Script Date: 17/07/2025 09:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[TotalSlots] [int] NOT NULL,
	[AvailableSlots] [int] NOT NULL,
 CONSTRAINT [PK_ParkingLots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSlots]    Script Date: 17/07/2025 09:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSlots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParkingLotId] [int] NOT NULL,
	[SlotCode] [nvarchar](20) NULL,
	[IsOccupied] [bit] NOT NULL,
 CONSTRAINT [PK_ParkingSlots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 17/07/2025 09:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ParkingSlotId] [int] NOT NULL,
	[ReservationTime] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/07/2025 09:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250716072848_InitialCreate', N'9.0.7')
GO
SET IDENTITY_INSERT [dbo].[ParkingLots] ON 

INSERT [dbo].[ParkingLots] ([Id], [Name], [Address], [TotalSlots], [AvailableSlots]) VALUES (1, N'Lot A', N'123 Main St', 5, 5)
INSERT [dbo].[ParkingLots] ([Id], [Name], [Address], [TotalSlots], [AvailableSlots]) VALUES (2, N'Lot B', N'456 Oak St', 3, 3)
INSERT [dbo].[ParkingLots] ([Id], [Name], [Address], [TotalSlots], [AvailableSlots]) VALUES (3, N'Bãi xe Đại học', N'01 Võ Văn Ngân, Thủ Đức', 20, 15)
SET IDENTITY_INSERT [dbo].[ParkingLots] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingSlots] ON 

INSERT [dbo].[ParkingSlots] ([Id], [ParkingLotId], [SlotCode], [IsOccupied]) VALUES (1, 1, N'LotA-1', 0)
INSERT [dbo].[ParkingSlots] ([Id], [ParkingLotId], [SlotCode], [IsOccupied]) VALUES (2, 1, N'LotA-2', 0)
INSERT [dbo].[ParkingSlots] ([Id], [ParkingLotId], [SlotCode], [IsOccupied]) VALUES (3, 1, N'LotA-3', 0)
SET IDENTITY_INSERT [dbo].[ParkingSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [UserId], [ParkingSlotId], [ReservationTime], [Status]) VALUES (1, 2, 1, CAST(N'2025-07-16T14:22:34.680' AS DateTime), N'Cancelled')
INSERT [dbo].[Reservations] ([Id], [UserId], [ParkingSlotId], [ReservationTime], [Status]) VALUES (2, 3, 2, CAST(N'2025-07-16T14:27:34.683' AS DateTime), N'Pending')
INSERT [dbo].[Reservations] ([Id], [UserId], [ParkingSlotId], [ReservationTime], [Status]) VALUES (3, 1, 5, CAST(N'2025-07-16T15:13:51.880' AS DateTime), N'Confirmed')
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [FullName], [Role]) VALUES (1, N'admin', N'hashed_password_1', N'Admin User', N'Admin')
INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [FullName], [Role]) VALUES (2, N'john', N'hashed_password_2', N'John Doe', N'Customer')
INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [FullName], [Role]) VALUES (3, N'jane', N'hashed_password_3', N'Jane Smith', N'Customer')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ParkingSlots] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOccupied]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [ReservationTime]
GO
ALTER TABLE [dbo].[ParkingSlots]  WITH CHECK ADD  CONSTRAINT [FK_ParkingSlots_ParkingLots_ParkingLotId] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLots] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingSlots] CHECK CONSTRAINT [FK_ParkingSlots_ParkingLots_ParkingLotId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_ParkingSlots_ParkingSlotId] FOREIGN KEY([ParkingSlotId])
REFERENCES [dbo].[ParkingSlots] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_ParkingSlots_ParkingSlotId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Users_UserId]
GO
